<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../../../webnav/src/styles.css">
  <a href="../../../webnav/src/byproject/projects.html"><button type=button>Go Back</button></a>
  <a href="sb3/Example.sb3"><button type=button>Download source code (Can only be opened with TurboWarp)</button></a>
  <a href="html/Example.html"><button type=button>Download compiled HTML</button></a>
  <a href="exe/Example 32-bit.exe"><button type=button>Download compiled 32-bit EXE</button></a>
  <a href="exe/Example 64-bit.exe"><button type=button>Download compiled 64-bit EXE</button></a>
  <a href="exe/Example 64-bit for ARM.exe"><button type=button>Download compiled 64-bit ARM EXE</button></a>
  <a href="elf/Example 64-bit"><button type=button>Download compiled 64-bit ELF</button></a>
  <a href="elf/Example 32-bit ARM"><button type=button>Download compiled 32-bit ARM ELF</button></a>
  <a href="elf/Example 64-bit ARM"><button type=button>Download compiled 64-bit ARM ELF</button></a>
</html>
